body {
	font-family: 'Poppins',sans-serif;
	
	
}

* {
	margin: 0px;
	padding: 0px;
}

.cleaner {
	clear: both;
}

#wrapper{
	width: 1020px;
	height: auto;
	margin: 0px auto;
}

	/**Ovde je header**/

#glavniHeader{
	
	width: inherit;
	height: 215px;
	box-shadow: 3px 3px 15px #666; 
	position: fixed;
	top: 0px;
	background-color: #fff;
	z-index: 1;
	}

#glavniHeader #gHeader{
	width: 100%;
	height: 150px;
}
	
#logo {
	width: 160px;
	height: 148px;
	margin-left: 5px;
	margin-top: 2px;
	float: left;
}

#gHeader #imeAgencije {   
	font-style: italic;
	color: rgb(249, 98, 4);
	margin-top: 20px;
	float: left;
	letter-spacing: 3px;
}

#gHeader #imeAgencije h1 {
	
	color: rgb(69, 48, 229);
	font-weight: bold;
}
	
#gHeader #pozovite{
	float: left;
	margin-top: 50px;
	margin-left: 145px;
	display: block;
	font-size: 30px;
	color: rgb(249, 98, 4);
	}

#gHeader #pozovite .red1{
	font-size: 20px;
	color: rgb(69, 48, 229);
}

#gHeader .material-icons,.fa {
font-size: 30px; }

#gHeader .material-icons {
	float: left;
	margin :6px 4px 0px -25px;
}

.fa-facebook-square {
	color: rgb(14, 72, 165);
}
.fa-instagram {
	color:rgb(224, 56, 196);
}
.fa-twitter {
	color: rgb(38, 214, 196);
}
.fa-youtube-play {
	color: rgb(247, 2, 2);
}




#glavniHeader #gHeader #logovanje{
	float: right;
	height: 20px;
	position: absolute;
	margin-left: 790px;
	width: auto;
	
}
#glavniHeader #gHeader #logovanje .registrujSe,.logujSe {
	margin-top: 5px;
	float: right;
	display: block;
	margin-right: 5px;
	text-align: center;
	border-right: 1px solid rgb(204, 204, 201);
	color: rgb(186, 186, 180);
	width: 100px;
	height: inherit;
	cursor: pointer;
}	

#glavniHeader #gHeader #logovanje .registrujSe {
	border-right: none;
}

#glavniHeader #gHeader #logovanje .registrujSe #registar,.logujSe #prijava {
	background-color: rgb(249, 106, 17);
	width: 200px;
	border-radius: 3px;
	height: 145px;
	
}
#glavniHeader #gHeader #logovanje .registrujSe #registar input[type],.logujSe #prijava input[type] {
	border-radius: 3px;
	height: 20px;
}

summary::-webkit-details-marker { font-size:0px;}

#glavniHeader #gHeader .mreze1 {
	float: right;
	margin: 40px 0px;
	right: 0px;
	width: 180px; 
	height: 30px;
	
}
	
ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

 #meni {
	height: 65px;
	text-align: center;
	width: 100%;
}

 #meni ul {
	margin: 0px 15px; 
}
 #meni ul li{
	float: left;
	display: block;
	width: 140px; 
	margin: 15px 6px;     
	background-color: rgb(69, 48, 229);
	padding: 5px;
	border-radius: 6px;
	}
	
 #meni ul li:hover{
	background-color:rgb(94, 73, 255);
	transition: background 0.5s;
}

#glavniHeader #meni ul .active{
	border-left: 5px solid rgb(249, 98, 4);
}

 #meni ul li a {
	font-size: 16px;
	color: #fff;
}

					/* Ovde je sadrzaj*/

#main {
	width: 100%;
	height: 1160px;
	margin-top: 230px;

}	

#main #levo {
	width: 250px;
	float: left;
	margin-left: 3px;
	height: auto; 
}
#main #levo p {
	background-color: rgb(249, 98, 4);
	text-align: center;
	color: #fff;
	border-radius: 3px;
	margin-bottom: 25px;
	padding: 5px 0px;
	
}

#main #levo input[type] {
	height: 30px;
	border-radius: 3px;
	margin-bottom: 30px;
	font-size: 15px;
	margin-left: 15px;
	
}


#main #levo input[type="submit"] {
	border-radius: 2px;
	color: #fff;
	background-color: rgb(81, 59, 247);  
	margin-left: 90px;
	border: none;
	width: 65px;
}
#main #levo input[type="submit"]:hover {
	background-color: rgb(115, 97, 249);
}

#main #levo .destinacija,.email,.radnoVreme,.rezervacije {
	background: linear-gradient(rgb(224, 222, 222),white);
	margin-bottom: 25px;
	height: 180px;
}

#main #levo .radnoVreme,.destinacija h4,.rezervacije {
	color: rgb(81, 59, 247);
	text-align: center;
	
}

#main #levo #evrGradovi {
	float left;
	width: inherit;
	height: auto;    
}

#main #levo #evrGradovi .krakov,.firenca,.oslo {
	width: inherit;
	height: 150px;
	background-color red;
	margin-bottom: 7px;
	border-radius: 4px;
}

#main #levo #evrGradovi .krakov header,.firenca header,.oslo header {
	color: white;
	background-color: rgba(58, 57, 57,0.8);
	text-align: center;
	border-radius: 4px;
}

#main #levo #evrGradovi .krakov{
	background-image: url('../slike/krakov.gif');
	
}

#main #levo #evrGradovi .firenca {
	background-image: url('../slike/firenca.gif');
}
#main #levo #evrGradovi .oslo {
	background-image: url('../slike/oslo.gif');
}			

#main #desno {
	width: 750px;
	height: auto;
	float: right;
}


#main #desno #slajder {
	

	float: right;
	width: 750px;
	background-image: url('../slike/slajder1.jpg');
	height: auto;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-right: 5px;
	background-size: cover; 
}

#main #desno #slajder:hover {
	  border 2px solid white;
	  
}

#main #slajder #slajderTekst {
	width:100%;
	padding: 10px 0px;
	margin-top: 350px;
	text-align: center;
	color: white;
	background-color: rgba(58, 57, 57,0.8);
}

#main #slajder #slajderTekst p {
	font-size: 25px;
}

#novaG {
	width: 750px;
	height: auto;
	margin-top: 10px;
	float: right;
	
}

#main #desno #novaG #bec {
	width: 350px;
	height: 200px;
	background-image: url('../slike/bec.gif');
	background-size: cover;
	float: left;
	margin: 0px 0px 0px 15px;
	border-radius: 4px;
}

#main #desno #novaG header {
	color: white;
	background-color:rgba(58, 57, 57,0.8);
	margin-top: 150px;
	text-align: center;
}

#main #novaG #budimpesta {
	width: 350px;
	height: 200px;
	background-image: url('../slike/budimpesta.gif');
	background-size: cover;
	float: right;
	margin: 0px 15px 0px;
	border-radius: 4px;
}

#main #desno #letovanje {
	width: 750px;
	height: auto; 
	background-color blue;
	float: right;
	margin-top: 20px;
	border-radius: 4px;
}

#main #desno #letovanje p {
	color: white;
	background-color: rgb(249, 98, 4);
	text-align: center;
	font-size: 20px;
	border-radius: 4px;
}

 #main #desno #letovanje .santorini,.krf,.tasos,.spanija {
	width: 350px; 
	background-color: blue;
	height: 215px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	border-radius: 4px;
	background-size: cover;
}
#main #letovanje .santorini header,.krf header,.tasos header,.spanija header {
	color: white;
	text-align: center;
	background-color: rgba(58, 57, 57,0.8);
	margin-top: 170px;
}
#main #letovanje .santorini {
	background-image: url('../slike/santorini.gif');
}
#main #letovanje .krf {
	background-image: url('../slike/krf.gif')
	
}

#main #letovanje .tasos {
	background-image: url('../slike/tasos.gif')
}

#main #letovanje .spanija {
	background-image: url('../slike/spanija.gif')
}

	

				/* Ovde je footer */

.glavniFooter {
	width: 1020px;
	height: auto;
	background-color: rgb(242, 241, 239);
	color: #fff;
	
	
}

.glavniFooter #goreFooter {
	width: 100%;
	height: 30px;
	background-color: rgb(56, 52, 52);
}

.glavniFooter #goreFooter #telefoni {
	float: left;
	width: 500px;
	margin-top: 4px;
	color: white;
}
.glavniFooter #goreFooter  #rss {
	width: 75px;
	height: 30px;
	position: absolute;
	float: right;
	background-color: white;
	margin-left: 790px;
	border-right: 5px solid rgb(249, 98, 4);
}
.fa-rss-square{
	width: 30px;
	height: 30px;
	color: orange;
	margin-left: 5px;
}

.glavniFooter #goreFooter  #rss .siteMap {
	float: right;
	margin-right: 5px;
}
.glavniFooter #goreFooter .mrezeFooter {
	float: right;
	background-color: #fff;
}


.glavniFooter #srednjiFooter p {
	font-size: 25px;
	color: rgb(249, 98, 4);
	text-transform: uppercase;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(249, 98, 4);
}

.glavniFooter #srednjiFooter ul li a:hover {
	border-bottom: 1px solid rgb(186, 186, 180);
}

.glavniFooter #srednjiFooter .levo {
	float: left;
	margin: 30px 40px 20px 100px;
}

.glavniFooter #srednjiFooter .sredina {
	float: left;
	margin: 30px 45px 20px 70px;
}
.glavniFooter #srednjiFooter .desno {
	float: right;
	margin: 30px 0px 20px 50px;
}

.glavniFooter #srednjiFooter ul li a {
	color: rgb(86, 86, 80);
}

.glavniFooter #donjiFooter {
	width: inherit;
	height: 30px;;
}

.glavniFooter #donjiFooter #email,#copyright {
	float: left;
	color: rgb(86, 86, 80);
	margin-top: 5px;
}

.glavniFooter #donjiFooter #email {
	float: right
}

									/* NOVA GODINA */
									
#main #levo .rezervacije {
	height: 420px;
}

#main #levo .rezervacije #rezervisite input[type="submit"] {
	margin: 0px auto;
}

#main #desnoNg {
	float: right;
	width: 750px;
	height: auto;
}
#main #desnoNg #nova {
	margin: 0px auto;
}

#main #desnoNg #nova th,td,tr {
	
	border: 1px solid rgb(103, 103, 104);
	color: rgb(103, 103, 104);
	border-radius: 5px;
	color: rgb(81,59,247);
	text-align: center;
}

#main #desnoNg #nova caption {
	color: rgb(249, 98, 4);
	font-size: 25px;
}

#main #desnoNg #nova tr th {
	color: rgb(249, 98, 4);
	font-weight: bold;
}
#main #desnoNg p{
	font-size: 20px;
	margin: 50px 0px 20px 10px;
	background-color: rgb(81,59,247);
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}
#main #desnoNg #baner {
	background-image: url('../slike/baner.gif');
	width: inherit;
	height: 230px;
	border-radius: 4px;
	margin-top: 20px;
	background-size: cover;
	background-repeat: no-repeat;
}

                               /* kontakt */
							   
							   


#main #google-map {
	width: 100%;
	height: 400px;
	border-radius: 3px;
	z-index: -1;
}

#main #kontakt {
	height: 600px;
	width: inherit;
}
#main #kontakt #levoKontakt #obrazac {
	margin-left: 8px;
}
#main #kontakt #levoKontakt {
	width: 700px;
	height: 600px;
	float: left;
	background-color: rgb(242, 242, 242);
	margin-top: 20px;
	border-radius: 4px;
	margin-left: 5px;
}

#main #kontakt #levoKontakt  p {
	background-color:rgb(249, 98, 4);
	color: #fff;	
	width: 680px;
	font-size: 20px;
	border-radius: 7px;
	text-align: center;
	margin: 40px 0px 0px 8px;
	height: 35px;
}

#main #kontakt #levoKontakt input[type],textarea {
	width: 680px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	color: rgb(249, 98, 4);
	margin: 25px 0px;
	border-radius: 7px;
	border: 1px solid rgb(69, 48, 229);
}

#main #kontakt #adrTel {
	float: right;
	width: 200px;
	margin: 120px 20px 0px 0px;
	background-color:rgb(115, 97, 249);
	text-align: center;
	border-radius: 15px;
	padding: 20px 0px;
}

#main #kontakt #adrTel span {
	height: 60px;
	font-size: 18px;
	color: white;
}

								/* O autoru*/
								
								
#main #autor {
	width: 800px;
	height: 1000px;
	margin: 0px auto;
	border: 1px solid rgb(115, 97, 249);
}
#main #oMeni {
	float: right;
	color: rgb(115, 97, 249);
	width: 600px;
	height: 400px;
	margin: 0px 100px;
	font-size: 27px;
	letter-spacing: 1px;
}

#main #ja {
	float: left;
	width: 250px;
	height: 300px;
	background-image: url('../slike/ja.jpg');
	background-size: cover;
	border-radius: 3px;
	margin: 80px 275px;
}
